.navContainer {
    background-color: #495867;
    padding: 10px;
    color: black;
}


ul {
    list-style-type: none;
}

li {
    margin: 5px;
}

.socialLink {
    display: inline;
}

a {
    color: white;
    text-decoration: none;
}


@media screen and (min-width: 576px) {
    .navLink {
        display: inline;
    }

    .navLinks {
        padding-left: 0px;
    }
}